<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/disign.css' %}">
    <link rel="icon shortcat" type="image/x-icon" href="{% static 'image/me.jpg' %}">
    <title>Login</title>
</head>

<body>
    {% block content %}
    <div class="flex-box">
        <div>
            {% for i in messages %}
            <h1>{{ i }}</h1>
            {% endfor %}
        </div>
        <form action="." method="POST">{% csrf_token %} username: <input type="text" name="username" placeholder="enter username"><br> password: <input type="password" name="password" placeholder="enter password"><br>
            <button type="submit">Submit</button>
        </form>
        <div>
            <a href="/Acount/"><button>back to main page</button></a>
            <a href="/Acount/register"><button>register</button></a>
        </div>
    </div>
    {% endblock %}
</body>

</html>